body {
    color: #555559;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url("../font/proximanova-semibold-webfont.eot");
    src: url("../font/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova-semibold-webfont.woff2") format("woff2"), url("../font/proximanova-semibold-webfont.woff") format("woff"), url("../font/proximanova-semibold-webfont.ttf") format("truetype"), url("../font/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.page-header {
    background: url("../img/header.png") no-repeat;
    background-size: cover;
    height: 454px;
    padding: 13px 23px;
}

.tags {
    color: #fff;
    font-size: 15px;
    position: relative;
    padding-left: 30px;
    float: right;
    font-family: 'proxima_novasemibold';
}

.tags:before {
    content: "";
    position: absolute;
    background: url("../img/insta_tag.png") no-repeat;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 0;
}

.menu {
    background: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 43px 0 23px 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 3.125% 10px 3.125%;
    position: relative;
}

.menu ul li a {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    color: #2e2e2e;
    transition: all 0.3s;
    position: relative;
}

.menu ul li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: #fff;
    bottom: -3px;
    left: 0;
    transition: all 0.3s;
}

.menu ul li:hover a:after {
    width: 100%;
    background: #2e2e2e;
}

.intro {
    background: #fbfafa;
    padding: 200px 15px 170px 15px;
}

.intro_text {
    max-width: 935px;
    text-align: center;
    margin: 0 auto;
}

.intro_text h1 {
    font-weight: 300;
    font-size: 55px;
    position: relative;
}

.intro_text h1:before {
    content: "";
    position: absolute;
    background: url("../img/hotdog.png") no-repeat;
    width: 92px;
    height: 92px;
    top: -123px;
    left: calc(50% - 46px);
}

.intro_text .btn {
    margin-top: 47px;
}

.btn {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background: #286782;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s;
    font-size: 20px;
    padding: 22px 27px;
}

.btn:hover, .btn:active, .btn:focus {
    background: #205268;
}

.content {
    font-size: 0;
    letter-spacing: 0;
    position: relative;
    max-height: 576px;
}

.content .text {
    width: 50%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.content .text h4 {
    font-size: 23px;
    position: relative;
    font-weight: bold;
    margin-top: 12px;
}

.content .text h4:before {
    content: "";
    position: absolute;
    background: url("../img/line.png") no-repeat;
    width: 31px;
    height: 2px;
    left: -51px;
    top: 13px;
}

.content .text p {
    font-size: 17px;
    font-weight: lighter;
}

.content .text .text_content {
    position: absolute;
    top: 50%;
    left: 46%;
    text-align: left;
    max-width: 455px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.content .img_blk {
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
}

.content .height {
    padding-bottom: 575px;
}

.pull {
    right: 50%;
}

.push {
    left: 50%;
}

footer {
    font-size: 14px;
    padding: 33px 20px 0 20px;
    background: #efefef;
}

footer .left, footer .right {
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    .page-header {
        height: 200px;
    }

    .intro_text h1 {
        font-size: 31px;
    }

    .btn {
        font-size: 16px;
    }

    .content {
        max-height: 100%;
    }

    .content .text, .content .img_blk {
        width: 100%;
    }

    .content .height {
        padding-bottom: 400px;
    }

    .pull {
        right: 0%;
    }

    .push {
        left: 0%;
    }

    .intro {
        padding: 140px 15px 70px 15px;
    }
}

/*# sourceMappingURL=style.css.map */
